{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-sm-6 col-sm-push-3">
        <br>
        <h2 class="title">Changer de mot de passe</h2>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-horizontal' } }) }}
        <div class="form-group
        {% if not form.current_password.vars.valid %}
             has-error" data-toggle="tooltip" data-placement="top"
             title="{{ form.current_password.vars.errors.0.message }}
        {% endif %}">
            <label class="col-sm-2 control-label" for="">Mot de passe actuel</label>
            <div class="col-sm-10">
                {{ form_widget(form.current_password, {'attr' : {'class': 'class="form-control' }}) }}
            </div>
        </div>
        <div class="form-group
        {% if not form.plainPassword.first.vars.valid %}
             has-error" data-toggle="tooltip" data-placement="top"
             title="{{ form.plainPassword.first.vars.errors.0.message }}
        {% endif %}">
            <label class="col-sm-2 control-label" for="">Nouveau mot de passe</label>
            <div class="col-sm-10">
                {{ form_widget(form.plainPassword.first, {'attr' : {'class': 'class="form-control' }}) }}
            </div>
        </div>
        <div class="form-group
        {% if not form.plainPassword.second.vars.valid %}
             has-error" data-toggle="tooltip" data-placement="top"
             title="{{ form.plainPassword.second.vars.errors.0.message }}
        {% endif %}">
            <label class="col-sm-2 control-label" for="">Vérification</label>
            <div class="col-sm-10">
                {{ form_widget(form.plainPassword.second, {'attr' : {'class': 'class="form-control' }}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-default" type="submit" value="{{ 'change_password.submit'|trans }}"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
